
.thumbnail {
  margin-bottom: 10px;
  position: relative;
}
.math {
  width: 100%;
  cursor: pointer;

}
.channel_pic_div {
  position: relative;
  display: inline-block;

}
.channel-pic-another {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 22.5px;

}
.absolute {
  position: absolute;
  display: flex;
  flex-direction: row;
  opacity: 1;
  margin-top: 10px;
  border: 1px solid none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  padding: 5px 10px 5px 10px;
  align-items: center;
  background-color: white;
  border-radius: 3px;
  opacity: 0;
  transition: opacity 0.3s;
  white-space: nowrap;
  pointer-events: none;


}

.channel_pic_div:hover .absolute {
  opacity: 1;
}

.video-time {
  bottom: 10px;
  right: 5px;
  padding: 4px;
  border-radius: 2px;
  font-size: 12px;
  font-weight: 500;
  position: absolute;
  color: white;
  background-color: black;
}
.title {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
  font-weight: 500;
  cursor: pointer;
}
.view {
  color: rgb(96, 96, 96);
  margin-bottom: 10px;
}
.name {
  color: rgb(96, 96, 96);
  margin-bottom: 3px;
  
}

.channel_pic {
  width: 35px;
  border-radius: 30px;
  cursor: pointer;
}

  .video_info_grid {
    display: grid;
    grid-template-columns: 50px 1fr;
  }
.video_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;  
  column-gap: 15px;
  row-gap: 15px;
}
@media (max-width: 868px) {
  .video_grid {
    grid-template-columns: 1fr 1fr ;
  } 
}

@media (min-width:869) and (max-width:1123px) {
  .video_grid {grid-template-columns: 1fr 1fr 1fr;}
}

@media (min-width: 1124px) {
  .video_grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.title-link {
  text-decoration: none;
  color: black;
}

